{% extends 'base.html' %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename="css/simplemde.min.css") }}">
{% endblock %}
{% block title %}{{ super() }} - ajouter{% endblock %}
{% block content %}
    <form method="post">
        {% include 'includes/form.html' %}
        <div><button type="submit" class="button primary">envoyer</button></div>
    </form>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename="js/simplemde.min.js") }}"></script>
    <script>
        var simplemde = new SimpleMDE({
            element: document.querySelector("textarea"),
            forceSync: true,
            status: false
        });
    </script>
{% endblock %}
