{% extends "base.html" %}

{% block title %}{{ super() }} - index{% endblock %}
{% block content %}
    {% if object_list| length > 0 %}
    <table>
        <thead>
            <tr>
                <th class="text-left" scope="col">Nom</th>
                <th class="text-left" scope="col">Slug</th>
                <th class="text-right" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.slug }}</td>
                    <td class="text-right">
                        <a class="button primary" href="{{ url_for('emails.add', id=object.id) }}">importer template email</a>
                        <a class="button secondary" href="">voir</a>
                        {% for email in object.email %}
                            {% if loop.last %}
                                <a class="button alert" onclick="javascript: return confirm('Êtes vous sur de vouloir supprimer cette ligne ?')" href="{{ url_for('emails.destroy', email_id=email.id, campaign_id=object.id) }}">supprimer</a>
                            {% endif %}
                        {% endfor %}
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
