<div class="top-bar margin-vertical-1">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">CRM light</li>
            <li>
                <a href="#">annuaire</a>
                <ul class="menu vertical">
                    <li><a href="{{ url_for('companies.index') }}">Sociétés</a></li>
                    <li><a href="{{ url_for('employee.index') }}">Salariés</a></li>
                    <li><a href="{{ url_for('function.index') }}">Fonctions</a></li>
                    <li><a href="{{ url_for('civility.index') }}">Civilités</a></li>
                    <li><a href="{{ url_for('sector_activity.index') }}">Secteur d'activité</a></li>
                </ul>
            </li>
            <li>
                <a href="#">marketing</a>
                <ul class="menu vertical">
                    <li><a href="{{ url_for('campaigns.index') }}">Campagnes</a></li>
                    <li><a href="{{ url_for('diffusions_list.index') }}">Filtres</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="{{ url_for('import_data.json_data') }}" class="button warning">Importer des données</a></li>
            <!--<li><input type="search" placeholder="Search"></li>-->
            <!--<li><button type="button" class="button">Search</button></li>-->
        </ul>
    </div>
</div>
